#blog-container {
    margin-top: 15px;
}
.card {
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: lightgrey 10px;
}
img {
    height: 150px;
}
a {
    text-decoration: none;
}
.carousel {
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
.carousel-inner img {
    height: 300px;
}